<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="main_section">
    <div th:if="${student != null}" class="container">
        <h1 th:text="${student.name}"></h1>
        <h1 th:text="${student.surname}"></h1>
    </div>
    <div th:if="${teacher != null}" class="container">
        <h1 th:text="${teacher.name}"></h1>
        <h1 th:text="${teacher.surname}"></h1>
    </div>
    <div th:if="${user != null}" class="container">
        <h1 th:text="${user.email}"></h1>
    </div>
</div>

</html>